.header{
    margin: 3% 10% 1.3% 10%;
    background-color: rgb(5, 202, 5);
}

.title {
    padding-top: 1%;
    font-weight: 400;
    margin-bottom: 3%;
    font-size: 2.3rem;
}

.subtitle {
    font-size: 1.3rem;
}