<mat-form-field  [formGroup]="formGroup" appearance="fill" color="accent" [class]="classes">
  <mat-label> {{ label }} </mat-label>
  <input
    matInput
    type="number"
    [formControlName]="controlName"
    [placeholder]="placeholder"
    [name]="inputName"
    [step]="step">
    <mat-error *ngIf="validateInputs.hasErrorValidate(formControl, 'required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="validateInputs.hasErrorValidate(formControl, 'min')">Aluguel minimo de {{ validateInputs.lengthValidate(formControl, 'min') }}</mat-error>
</mat-form-field>
