<div [formGroup]="formGroup">
    <mat-form-field appearance="fill" color="accent" class="full-width" >
        <mat-label>{{ label }}</mat-label>
        <input
            matInput
            type="email"
            [formControlName]="controlName"
            [placeholder]="placeholder" 
            [name]="inputName" >
        <mat-error *ngIf="validateInputs.hasErrorValidate(formControl, 'required')">Campo obrigatório</mat-error>
        <mat-error *ngIf="validateInputs.hasErrorValidate(formControl, 'email')">Email inválido</mat-error>
    </mat-form-field>
</div>