<mat-card class="firstCard">
    <mat-card-title class="title">
        Descrição
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ team.description }}
    </mat-card-subtitle>
</mat-card>

<mat-card class="teamCard">
    <mat-card-title class="title">
        Politica de pagamento
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ team.cashPolitic }}
    </mat-card-subtitle>
</mat-card>

<mat-card class="teamCard">
    <mat-card-title class="title">
        Política de Devolução
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ team.devolutionPolitic }}
    </mat-card-subtitle>
</mat-card>

<mat-card class="teamCard">
    <mat-card-title class="title">
        Informação Adicional
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ team.addInfo }}
    </mat-card-subtitle>
</mat-card>

<mat-card class="axieCard" *ngFor="let axie of team.axies">
    <div class="nameAndImg">
        <mat-card-title class="nameAndClass">
            <div class="name">
                {{ axie.name }}
            </div>
            <div [class]="axie.class">
                {{ axie.class | uppercase }}
            </div>
        </mat-card-title>
        <div *ngIf="axie.stats" class="stats">
            <div class="hp">
                <mat-icon class="icon">favorite</mat-icon>
                <div>
                    {{ axie.stats.hp }}
                </div>
            </div>
            <div class="speed">
                <mat-icon class="icon">bolt</mat-icon>
                {{ axie.stats.speed }}
            </div>
            <div class="skill">
                <mat-icon class="icon">star</mat-icon>
                {{ axie.stats.skill }}
            </div>
            <div class="morale">
                <mat-icon class="icon">local_fire_department</mat-icon>
                {{ axie.stats.morale }}
            </div>
        </div>
        <a href="https://marketplace.axieinfinity.com/axie/{{ axie.id }}" target="_blank" class="axieImgContainer">
            <img class="axieImg" src="{{ axie.image }}" alt="AxieImage">
        </a>
    </div>
    <div class="content">
        <div class="cards">
            <img src="{{ card.imgUrl }}" *ngFor="let card of axie.parts" class="cardImg">
        </div>
    </div>
</mat-card>