<mat-card class="container">
    <mat-card-title class="title">
        Entrar
    </mat-card-title>
    <form [formGroup]="user" (ngSubmit)="login()" class="example-form">
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"
                type="email" name="email">
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password"
                type="password" name="password">
        </mat-form-field>
        <button type="submit" [disabled]="user.invalid" mat-raised-button color="accent" class="button">Entrar</button>
    </form>
</mat-card>