<mat-card class="container">
    <mat-card-title class="title">
        Entrar
    </mat-card-title>
    <form class="example-form">
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input matInput type="email">
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
    </form>
    <span class="button">
        <button mat-raised-button color="accent">Entrar</button>
    </span>
</mat-card>