<mat-card class="firstCard" >
    <mat-card-title class="title">
        Descrição
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ team.description }}
    </mat-card-subtitle>
</mat-card>

<mat-card class="teamCard" >
    <mat-card-title class="title">
        Politica de pagamento
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ team.cashPolitic }}
    </mat-card-subtitle>
</mat-card>

<mat-card class="teamCard" >
    <mat-card-title class="title">
        Política de Devolução
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ team.devolutionPolitic }}
    </mat-card-subtitle>
</mat-card>

<mat-card class="teamCard" >
    <mat-card-title class="title">
        Informação Adicional
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{ team.addInfo }}
    </mat-card-subtitle>
</mat-card>

<mat-card class="axieCard" *ngFor="let axie of team.axies">
    <div class="nameAndImg">
        <mat-card-title>
            {{ axie.name }}
        </mat-card-title>
        <a href="https://marketplace.axieinfinity.com/axie/{{ axie.id }}" target="_blank">
            <img mat-card-image src="{{ axie.image }}" alt="AxieImage" class="axieImg" >
        </a>
    </div>
    <div class="content">
        <mat-card-content>
            asiudhaoisfhasoiduhsai            asiudhaoisfhasoiduhsai            asiudhaoisfhasoiduhsai            asiudhaoisfhasoiduhsai            asiudhaoisfhasoiduhsai
        </mat-card-content>
    </div>
    
</mat-card>