<mat-card class="container">
    <mat-card-title class="title">
        Registrar
    </mat-card-title>
    <form [formGroup]="user" (ngSubmit)="register()" class="example-form">
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Nome</mat-label>
            <input formControlName="name" matInput placeholder="Pedro Miguel da Silva" 
                type="text" name="name" >
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="aaa@bbb.com" 
                type="email" name="email" >
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Senha</mat-label>
            <input formControlName="password" matInput 
                type="password" name="password" >
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Confirme a senha</mat-label>
            <input formControlName="confirmPassword" matInput 
                type="password" name="confirmPassword" >
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Nickname</mat-label>
            <input formControlName="nickname" matInput placeholder="pedrinho123" 
                type="text" name="nickname" >
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Carteira</mat-label>
            <input formControlName="walletAdress" matInput 
                type="text" name="walletAdress" >
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Telefone</mat-label>
            <input formControlName="cell" matInput placeholder="DD98888-8888" 
                type="tel" name="cell" >
        </mat-form-field>
        <button type="submit" [disabled]="user.invalid" mat-raised-button color="accent" class="button">Registrar</button>
    </form>
</mat-card>