<div [formGroup]="formGroup" >
    <mat-form-field appearance="fill" color="accent" class="full-width">
        <mat-label>{{ label }}</mat-label>
        <input
            matInput 
            type="password"
            [formControlName]="controlName"
            [name]="inputName" >
        <mat-error *ngIf="validateInputs.hasErrorValidate(formControl, 'required')">Campo obrigatório</mat-error>
        <mat-error *ngIf="validateInputs.hasErrorValidate(formControl, 'minlength')">Senha muito curta</mat-error>
    </mat-form-field>
</div>
